.edit-material-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Caja principal del formulario */
.create-prestamo-box {
  background-color: #121212;
  padding: 30px;
  border-radius: 12px;
}

.create-prestamo-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

/* Formulario con separación adecuada */
.edit-material-form {
  display: flex;
  flex-direction: column;
}

/* Agrupador de cada campo con espaciado inferior */
.prestamo-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; /* Espacio entre campos */
}

.prestamo-label {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
}

.prestamo-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #2C2C2C;
  color: #F5DEB3;
  border: 2px solid #7B1E32;
  outline: none;
  transition: border-color 0.3s ease;
}

.prestamo-input:focus {
  border-color: #2C2C2C;
  outline: none;
}

.prestamo-input:invalid {
  border-color: #e74c3c;
}

.prestamo-button {
  padding: 12px;
  font-size: 16px;
  background-color: #7B1E32;
  color: white;
  border: 2px solid #7B1E32;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 10px;
}

.prestamo-button:hover {
  background-color: #5A1625;
  border-color: #F5DEB3;
}
